.title-main {
    display: flex;
    flex-direction: column;
    max-width: 362px;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        text-align: left;
        max-width: 100%;
    }
}
.title-main__subtitle {
    @include font400Inter;
    font-size: 48px;
    line-height: 58px;
    color: $colorWhiteText;
    margin: 0;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        font-size: 36px;
        line-height: 44px;
    }
}
.title-main__title {
    @include font900Inter;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        font-size: 36px;
        line-height: 44px;
    }
}
.title-main__text {
    @include font400;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $colorWhiteText;
    max-width: 275px;
    margin: 30px 0 0 0;
    @media screen and (max-width: 1024px) {
        max-width: 100%;
    }
    @media screen and (max-width: 768px) and (min-width: 320px) {
        margin: 20px 0 0 0;
    }
}